/*info-cards:start*/ 
.info-cards{
  text-align: center;
  h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-regular);
    font-weight: 400;
  }
  .number{
    font-weight: 700;
    font-size: var(--font-size-heading-01);
    padding-top: 10px;
    color: #FF8343;
  }
}
/*info-cards:end*/ 