.custom-card {
  background: var(--background-color);
  padding: 24px;
  box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.1);
  border-radius: 8px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .custom-card{
    padding: 12px;
  }
}