 header{
    background: var(--white-color);
    padding: 0 40px;
    box-shadow: var(--shadow-header);
    position: fixed;
    left: 140px;
    width: calc(100% - 140px);
    top: 0;
    height: 80px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .rhs{
      display: flex;
    }
    .welcome{
      display: flex;
      padding-left: 24px;
      align-items: center;
    }
    .welcome-msg{
      p{
        font-size: var(--font-size-xs);
      }
      .user-name{
        font-size: var(--font-size-small);
        font-weight: 500;
      }
    }
    .avtar{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {  
  header{
    left: 100px;
    width: calc(100% - 100px);
    height: 70px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 980px) {
  header{    
    h1{
      font-size: 2rem;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  header{    
    left: 0;
    width: 100%;
    h1{
      font-size: 1.6rem;
      text-align: center;
      width: 100%;
    }
    .welcome{
      display: none;
    }
  }
}
