.main-wrapper{
  padding-top: 80px;
}
main{
  padding: 40px;
}

h1{
  font-size: var(--font-size-heading-03);
  font-weight: 600;
}

h2{
  font-size: var(--font-size-heading-03);
  font-weight: 600;
}

.section-spacing{
  padding-top: 60px;  
}


/*React Datatable Style:start*/ 
.data-table-container{
  width: 100%;
  overflow: scroll;
}
.rdt_Table{
  .rdt_TableHead{
    
    .rdt_TableHeadRow{
      background: var(--table-head);
      color: var(--white-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border: none;
      .rdt_TableCol{
        padding: 12px;
      }
    }
  }  
  .rdt_TableBody {
    >div {
      border: none;
      &:nth-child(odd) {
        background-color: var(--table-shade-1);
        border: none;
      }
      &:nth-child(even) {
        background-color: var(--table-shade-2);
        border: none;
      }
    } 
    .rdt_TableRow{
      .rdt_TableCell{
        font-size: var(--font-size-small);
        line-height: 24px;
        padding: 12px;
      }
      .avtar-wrapper{
        border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
      }
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:first-child{
      max-width: 100px;
      min-width: 100px;
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:nth-child(2){
      max-width: 180px;
      min-width: 180px;
    }
  }
  .table-icon{
    max-width: 24px;
    cursor: pointer;
  }
  .table-icon{
    max-width: 20px;
    cursor: pointer;
    margin: 0 10px;
  }
}
/*React Datatable Style:end*/

.custom-row {
  margin-top: 24px;
}

.custom-col {
  padding: 24px;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.btn-primary{
  background: var(--primary-button-default);
  border: solid 1px var(--primary-button-default);
  font-size: var(--font-size-regular);
  padding: 8px 32px;
  border-radius: 24px;
  &:hover{
    background: var(--primary-button-hover);
  }
}

.reset-button{
  padding-left: 24px;
}

.form{
  padding-top: 24px;
}

.form-group{
  margin-top: 24px;
}

.form-label{
  margin-bottom: 10px;
}

.arrow-title{
  display: flex;
  align-items: center;
}

.back-button{
  cursor: pointer;
  width: 40px;
  margin-left: -8px;
}

.form-control{
  background: #EDF2F6;
  border: solid 1px #E0E4EC;
  padding: 16px;
  border-radius: 8px;
  font-size: var(--font-size-regular);
  &:focus{
    box-shadow: none;
    border-color: #E0E4EC;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  body{
    padding-left: 100px;
  }
  .main-wrapper{
    padding-top: 70px;
  }
  main{
    padding: 30px;
  }
  .custom-row{
    margin-top: 40px;
  }
  .custom-col{
    padding: 12px;
  }  
  
  /*React Datatable Style:start*/ 
.data-table-container{
  width: 100%;
  overflow: scroll;
}
.rdt_Table{
  .rdt_TableCell,
  .rdt_TableCol{
    &:first-child{
      max-width: 70px;
      min-width: 70px;
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:nth-child(2){
      max-width: 150px;
      min-width: 150px;
    }
    &:nth-child(3){
      max-width: 150px;
      min-width: 150px;
    }
    &:nth-child(4){
      max-width: 150px;
      min-width: 150px;
    }
  }
  .rdt_TableHead{
    .rdt_TableHeadRow{
      .rdt_TableCol{
        padding: 8px;
      }
    }
  }
  .rdt_TableBody{
    .rdt_TableRow{
      .rdt_TableCell{
        padding: 8px;
      }
    }
  }
  .table-icon{
    max-width: 20px;
  }
}
/*React Datatable Style:end*/
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  body{
    padding-left: 0;
  }
  main{
    padding: 16px 16px 80px;
  }
  .custom-row{
    margin-top: 16px;
    margin-left: -8px;
    margin-right: -8px;
  }
  .custom-col{
    padding: 12px;
  }
  /*React Datatable Style:start*/ 
.rdt_Table{
  .rdt_TableCell,
  .rdt_TableCol{
    &:first-child{
      max-width: 60px;
      min-width: 60px;
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:nth-child(2){
      max-width: 100px;
      min-width: 100px;
    }
    &:nth-child(3){
      max-width: 150px;
      min-width: 150px;
    }
    &:nth-child(4){
      max-width: 150px;
      min-width: 150px;
    }
  }
  .table-icon{
    max-width: 20px;
  }  
}
.rdt_Pagination{
  .cEDwUG,
  .cYFpUK{
    display: none;
  }
}
/*React Datatable Style:end*/

.profile-pic{
  .file-upload{
    margin: 0 auto;
  }
}
.back-button {
  cursor: pointer;
  width: 30px;
  margin-left: -4px;
}
}