.main-wrapper{
  padding-top: 80px;
}
main{
  padding: 40px;
}

h2{
  font-size: var(--font-size-heading-03);
  font-weight: 600;
}

.section-spacing{
  padding-top: 60px;  
}


/*React Datatable Style:start*/ 
.rdt_Table{
  .rdt_TableHead{
    
    .rdt_TableHeadRow{
      background: var(--table-head);
      color: var(--white-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border: none;
      .rdt_TableCol{
        padding: 12px;
      }
    }
  }  
  .rdt_TableBody {
    >div {
      border: none;
      &:nth-child(odd) {
        background-color: var(--table-shade-1);
        border: none;
      }
      &:nth-child(even) {
        background-color: var(--table-shade-2);
        border: none;
      }
    }
    .rdt_TableCell{            
      div{
        &:first-child{
          white-space: normal;
        }
      }
    }  
    .rdt_TableRow{
      .rdt_TableCell{
        font-size: var(--font-size-small);
        line-height: 24px;
        padding: 12px;
      }
      .avtar-wrapper{
        border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
      }
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:first-child{
      max-width: 100px;
      min-width: 100px;
    }
  }
  .rdt_TableCell,
  .rdt_TableCol{
    &:nth-child(2){
      max-width: 180px;
      min-width: 180px;
    }
  }
}
/*React Datatable Style:end*/

.custom-row {
  row-gap: 48px;
}

.custom-col {
  padding: 24px;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.btn-primary{
  background: var(--primary-button-default);
  border: solid 1px var(--primary-button-default);
  font-size: var(--font-size-regular);
  padding: 8px 16px;
  &:hover{
    background: var(--primary-button-hover);
  }
}