@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./_variables.scss);

/*Reset CSS Starts*/
* { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: none; -webkit-border-radius: 0; border-radius: 0; outline: none;  -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clear { font-size: 1%; height: 0; line-height: 0; width: 0; float: none; clear: both; }
* html .clearfix { height: 1%; }
input { outline: none }
ul { list-style: none; }
li { list-style: none }
:focus { outline: 0; }
img,
img a { border: 0; outline: 0; }
a { text-decoration: none; outline: none; color: #3c88c4 }
a:hover{text-decoration: none;outline: none; }
img { border: none; }
html { -webkit-text-size-adjust: 100%; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; margin: 0; }
h1,
h2,
h3,
h4,
h5,
table,
table tr td,
table tr th { border: none }
textarea { resize: none; border: none; outline: none; background: none }
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance:textfield;
}

  ::placeholder,
::-webkit-input-placeholder {
    opacity: 1; 
  }  

  p{
    margin: 0;
  }
  figure{
    margin: 0;
  }
  ul{
    padding: 0;
    margin: 0;
  }
/*Reset CSS end*/

html { font-size: 62.5%; font-weight: 400;}
body { 
  background: var(--body-color);
  color: var(--body-text-color);
  padding: 0 0 0 140px; 
  margin: 0; 
  font-family: var(--font-family-open-sans);
  font-size: var(--font-size-regular);
  font-weight: 400;
}
html,
body{ height: 100%;  width: 100%;}

/*global css:start*/ 
.main-container{max-width: 100%; margin: 0 auto;}
.container{ max-width: 1320px; padding: 0 60px;}
main{ width: 100%; padding-top: 96px;}
img { max-width: 100%;}